* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo {
    border: solid 0px gray;
    border-radius: 4px;
    height: 95px;
    align-items: center;
    margin-bottom: 0px;
}

.logo img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 18px;
    clear: both;

}

.logo h1 {
    position: relative;
    margin-left: 20vw;
    margin-top: -9vh;
    font-size: 50px;
    color: bisque;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-list {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;

}

.nav-list li {
    list-style: none;
    padding: 25px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: #F1948A;
    text-decoration-line: underline;
    font-weight: bold;
}

.rightNav {
    width: 30vw;
    text-align: right;
    justify-content: center;
}

#search {
    width: 220px;
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    margin-top: 3px;
}

.btn {
    position: relative;
    border-radius: 9px;
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
}

.btn:hover {
    background-color: rgb(71, 64, 64);
    color: white;
}

.background {
    background-color: whitesmoke;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}


/* footer  */

footer {
    background-color: rgb(50, 42, 42);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200
}